body{
    padding: 2rem;
    background-image: url(kino.png);
}
.film-plakat {
    float: left;
    transition: transform 0.2s ease-in-out;
}

.film-plakat:hover {
    transform: scale(0.9);
}

.film-icon {
    font-size: 1.6rem;
}
.card {
    width: 36rem;
}



/* .not-visible{
    display: none;
} */

/* h4{
    text-align: center;
} */