{% extends 'glowny.html' %}

{% block tytul %} Potwierdź {% endblock %}

{% block strona %} 
  <div class="container-fluid">
    <div class="card text-center">
      <div class="card-body">
          <h5 class="card-title">Czy napewno chcesz usunac "{{ film.tytul }}" film?</h5>
          <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Usun film</button>
        </form>
      </div>
    </div>
  </div>
    

  <a href="{% url 'wszystkie_filmy' %}" class="btn btn-success ml-3">Cofnij</a>
{% endblock %}